/* 通用样式 */
* {
    margin: 0;
    padding: 0
}

ul li {
    list-style: none;
}

.layout {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}


/* 头部样式 */
header {
    padding: 15px 0;
    background: #282c34;
    min-width: 1200px;
    top: 0;
    left: 0;
    z-index: 1;

}


#head {
    max-width: 1200px;
    margin: 0 auto;
}

#head #logo {
    float: left;
    font-size: 24px;
    color: white;
}

#head #logo a {
    color: white;
}

#nav {
    float: right;

}

#nav li {
    display: inline-block;
    padding-left: 15px;
    font-size: 20px;
    line-height: 36px;

}

#nav a {
    padding: 2px 8px;
    color: white;
}

#nav a:hover {
    background: #ddd;
    border-radius: 3px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.5);
    color: #282c34;
}

main {
    height: 650px;
}

main h1 {
    height: 60px;
    color: white;
    text-align: center;
    background: #282c34;
    line-height: 60px;
    z-index: 1;
    min-width: 1200px;
}

main ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

main ul li {
    width: 590px;
    height: 300px;
    box-sizing: border-box;
    margin-top: 150px;

}

main .aboutText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main li .iconfont {
    font-size: 24px;
}


/* footer样式 */
footer {
    background: #282c34;
    color: white;
    padding: 20px 0;
    min-width: 1200px;
}

footer p {
    text-align: center;
}

footer ul {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 1200px;
}

footer ul li {
    flex: 1;
    
    text-align: center;
    padding: 30px 0;
}

footer ul li .iconfont {
    font-size: 40px;
    display: inline-block;
    margin-bottom: 20px;
    color: white;
}

footer ul li:last-child{
    text-align: center;
}

footer ul li:last-child img {
    width: 80px;
    height: 80px;
    margin-top: -15px;
    margin-bottom: 10px;
}